<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-duLfdJoEbGmu5MkL3wFZJkCSsalnPaE</string>
	<key>GCM_SENDER_ID</key>
	<string>64238607602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sistemaPagamento</string>
	<key>PROJECT_ID</key>
	<string>smartpgto</string>
	<key>STORAGE_BUCKET</key>
	<string>smartpgto.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:64238607602:ios:7449b8d3bbfc0c4690046b</string>
</dict>
</plist>